@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
.fade-body {
  animation: fade 1s ease-in-out;
}
@keyframes fade {
  0%     { opacity: 0   }
  100%   { opacity: 100 }
}
*/
body {
  background: #F9F9F9; }

.content {
  max-width: 920px;
  margin-bottom: 30px; }

.img-content {
  max-width: 1000px; }

.navClose {
  -webkit-animation: bounceInDown 1.8s ease-out;
  -moz-animation: bounceInDown 1.8s ease-out;
  animation: bounceInDown 1.8s ease-out; }

.goback {
  max-width: 60px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px; }

.title {
  margin: 60px 0 20px -34px;
  padding-left: 33px; }
  .title h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px; }
  .title p {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: center; }
  .title .tagline {
    color: #AAAAAA;
    font-style: italic;
    margin-bottom: 28px; }
  .title .role {
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px; }

a {
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: .3s; }
  a:link {
    color: #9500FF; }
  a:visited {
    color: #9500FF;
    text-decoration: inherit; }
  a:hover, a:active {
    color: #AAAAAA;
    text-decoration: inherit; }

li {
  list-style: none;
  display: inline-block; }

.bildtext {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center; }

.row {
  margin-top: 20px; }

.photo {
  margin-top: 30px;
  margin-left: -15px;
  width: 1200px; }

.navigation {
  margin-top: 30px;
  text-align: center; }

.nav {
  padding-left: 0px; }

.home {
  font-family: "Montserrat", sans-serif;
  font-size: 15px; }

.smallarrow {
  max-width: 20px;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 40px;
  margin-left: 40px; }

footer {
  background-color: #F9F9F9;
  height: 60px;
  padding-top: 20px; }

#footer {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #AAAAAA;
  text-align: center; }

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

@media screen and (max-width: 750px) {
  .title {
    margin-top: 20px; }
    .title h1 {
      font-size: 26px; }
    .title p {
      font-size: 12px;
      line-height: 23px;
      margin: 0 15px 0 15px; }

  .goback {
    max-width: 35px;
    display: block;
    margin: 0 auto;
    margin-top: 27px; }

  iframe {
    width: 450px;
    height: 200px; } }
@media screen and (max-width: 640px) {
  .title {
    margin-top: 50px; } }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=getsetgo.css.map */
