@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round:400);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round:400);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic,300italic);
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  box-sizing: border-box; }

/* Project hover */
.darken:hover, .external-link:hover {
  opacity: 0.5; }

/*
.darken {
    padding: 0;
    position:relative;
    margin-top: 25px;
    transition: .3s ease-in-out;
    &:hover {
      opacity: 0.5;      
    }
}
*/
.darken:hover {
  opacity: 4; }

.darken img {
  -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }

.darken:hover img {
  opacity: .1; }

.darken span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  line-height: 120%;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #FFF; }

.darken:hover span {
  color: #1D1D1B;
  display: block;
  z-index: 300; }

@media screen and (max-width: 712px) {
  .darken span {
    font-size: 45px; } }
@media screen and (max-width: 412px) {
  .darken span {
    font-size: 30px; } }
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #F9F9F9; }

.fade-body {
  -webkit-animation: fade 4.5s ease-in-out;
          animation: fade 4.5s ease-in-out; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
.intro, .project-title, .next, .nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.intro {
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-52%);
      -ms-transform: translateY(-52%);
          transform: translateY(-52%); }

.first {
  background-position: center;
  background-size: cover;
  height: 100vh; }

.container-intro {
  max-width: 920px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.title {
  max-width: 430px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Varela Round", sans-serif;
  color: #ADADAD;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: 200; }

p {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.5px;
  font-family: "Varela Round", sans-serif;
  color: #ADADAD; }

.cta {
  max-width: 40px;
  margin-top: 130px; }

/*
//Social links underline animation
a#fade {
  border-bottom: 2px solid rgba(228, 43, 60, 0);
  
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease; 
}

a#fade:hover {
  border-bottom: 2px solid;
}

.nav {
  margin-top: 30px;
}
*/
.logo {
  max-width: 300px; }

/*
.next {
  max-width: 60px;
  margin: 0 auto;
  margin-top: 50px;
}
*/
.second {
  background-color: #F9F9F9; }

.second-content {
  max-width: 920px;
  margin-top: 100px; }

.container-second {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-bottom: 40px; }

.project-title {
  font-family: "Montserrat", sans-serif;
  color: #5B5B5B;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px; }

.description {
  color: #ADADAD;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 400; }

.third {
  background-color: #F9F9F9; }

.third-content {
  max-width: 190px;
  margin-top: 60px;
  margin-bottom: 40px; }

.navKnow {
  font-size: 15px;
  margin-top: 10px; }

.navMail {
  width: 40px;
  margin-bottom: 10px;
  background-color: #F9F9F9; }

.social {
  margin-top: 30px;
  margin-bottom: 5px; }

.social-icons {
  width: 30px; }

ul {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding-left: 0; }
  ul li {
    display: inline-block;
    max-height: 70px;
    margin-left: 14px;
    margin-right: 14px; }

.fade-out {
  color: #F9F9F9;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }
  .fade-out:visited {
    color: #F9F9F9;
    text-decoration: none; }
  .fade-out:hover, .fade-out:active {
    color: #ADADAD;
    text-decoration: none; }

footer {
  background-color: #F9F9F9;
  height: 60px;
  padding-top: 20px; }

#footer {
  font-family: "Montserrat", sans-serif;
  background-color: #F9F9F9;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #ADADAD;
  text-align: center; }

@media screen and (max-width: 740px) {
  .col-md-4 {
    margin-bottom: 30px; }

  .intro {
    font-size: 55px; }

  .nav {
    max-width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 31px;
    margin-top: 180px;
    margin-bottom: 0px; }

  .contact {
    width: 50px; }

  .project {
    margin-top: 20px; }

  .third-content {
    margin-top: 10px; }

  .headshot {
    width: 190px; }

  .social-icons {
    width: 30px; }

  p {
    font-size: 13px;
    line-height: 26px; }

  .navContact {
    margin-top: 14px;
    width: 30px; } }
@media screen and (max-width: 768px) {
  .col-md-4 {
    margin-bottom: 30px; } }
@media screen and (max-width: 991px) {
  .col-md-4 {
    margin-bottom: 30px; }

  .row {
    margin-bottom: 0; } }
/*# sourceMappingURL=main.css.map */