
body {
	font-family: 'Montserrat', sans-serif;
  background-color: #28333D;
	color: #4C6670;
}

/* S T A R T S I D A */

h3 {
	font-size: 3.8em;
  line-height: 72px;
	text-align: left;
  max-width: 1100px;
  height: 100%;
  margin-top: 150px;
  margin-bottom: 15px;
  transition: .5s;
}

h2 {
  text-align: right;
  font-size: 20px;
  padding-top: 170px;
  transition: .5s;
}

img {
  max-width: 24px;
}


/* L I N K S */

/* unvisited link */
a:link {
    color: #DF00FF;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #DF00FF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    opacity: 0;
    text-decoration: none;
       -o-transition: .3s;
     -moz-transition: .3s;
  -webkit-transition: .3s;
          transition: .3s;
}

/* selected link */
a:active {
    color: #DF00FF;
    text-decoration: none;
}


/* - BIGGER SCREEN - */

/*
@media screen and (min-width: 1280px) {

}
*/

/* Superior Phone */
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.7em;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    padding-top: 60px;
  }
}


/* iBrick */
@media screen and (max-width: 640px) {
  h3 {
    font-size: 1.5em;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h2 {
    padding-top: 30px;
  }
}