@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Project hover */
.darken:hover, .external-link:hover {
  opacity: 0.5; }

/*.darken {
    padding: 0;
    position:relative;
    margin-top: 25px;
    transition: .3s ease-in-out;
    &:hover {
      opacity: 0.5;      
    }
}*/
.darken:hover {
  opacity: 2; }

.darken img {
  transition: 0.2s ease-in-out; }

.darken:hover img {
  opacity: .1; }

.darken span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 120%;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #FFF; }

.darken:hover span {
  color: #28333D;
  display: block;
  z-index: 300; }

@media screen and (max-width: 712px) {
  .darken span {
    font-size: 45px; } }
@media screen and (max-width: 412px) {
  .darken span {
    font-size: 30px; } }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fade-body {
  animation: fade 1s ease-in-out; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
.intro, .project-title, .next, .nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.first {
  background: url("../img/background2.png");
  background-position: center;
  background-size: cover;
  background-color: #1D1D1B;
  height: 100vh; }

/*
.intro {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: $white;
  font-size: 30px;
  line-height: 40px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  text-align: left !important;
  transition: .5s;
  margin: auto 0;
  &:nth-child(1) {
    margin-bottom: 10px;
  }
}
*/
.first-content {
  margin-top: 15%;
  margin-top: 3%; }

.fade-out {
  color: #E42B3C;
  text-decoration: none;
  transition: .3s ease-in-out; }
  .fade-out:visited {
    color: #E42B3C;
    text-decoration: none; }
  .fade-out:hover, .fade-out:active {
    color: #AAAAAA;
    text-decoration: none; }

h2 {
  font-size: 20px; }

p {
  color: #FFF;
  font-size: 14px; }

.next {
  text-align: center;
  width: 50px; }

.second {
  background-color: #F9F9F9; }

.container-intro {
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.nav {
  font-size: 34px;
  line-height: 46px;
  margin-top: 80px;
  margin-bottom: 80px; }

footer {
  background-color: #F9F9F9;
  height: 60px;
  padding-top: 20px; }

#footer {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #AAAAAA;
  text-align: center; }

.row {
  margin-bottom: 30px; }

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  opacity: .5; }

@media screen and (max-width: 740px) {
  .intro {
    font-size: 24px;
    line-height: 30px; }

  .nav {
    font-size: 22px;
    line-height: 30px;
    margin-top: 45px;
    margin-bottom: 25px; } }
@media screen and (max-width: 768px) {
  .col-md-4 {
    margin-bottom: 30px; } }
@media screen and (max-width: 991px) {
  .col-md-4 {
    margin-bottom: 30px; }

  .row {
    margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
