
body {
	font-family: 'Montserrat', sans-serif;
	background: #FCFCFC;
	color: #000;
}

li {
  list-style: none;
}

ul {
  padding-top: 70px;
  padding-left: 0px;
  text-align: center;
  width: 950px;
  margin-bottom: 0px;
  margin-left: 250px;
}

.menu-list {
  padding-top: 70px;
}

/* L I N K S */

/* unvisited link */
a:link {
    color: #000;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #A000FF;
    text-decoration: none;
       -o-transition: .3s;
     -moz-transition: .3s;
  -webkit-transition: .3s;
          transition: .3s;
}

/* selected link */
a:active {
    color: #000;
    text-decoration: none;
}