@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round:400);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round:400);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic,300italic);
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  box-sizing: border-box; }

/* Project hover */
.darken:hover, .external-link:hover {
  opacity: 0.5; }

/*
.darken {
    padding: 0;
    position:relative;
    margin-top: 25px;
    transition: .3s ease-in-out;
    &:hover {
      opacity: 0.5;      
    }
}
*/
.darken:hover {
  opacity: 4; }

.darken img {
  -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }

.darken:hover img {
  opacity: .1; }

.darken span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  line-height: 120%;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #FFF; }

.darken:hover span {
  color: #1D1D1B;
  display: block;
  z-index: 300; }

@media screen and (max-width: 712px) {
  .darken span {
    font-size: 45px; } }
@media screen and (max-width: 412px) {
  .darken span {
    font-size: 30px; } }
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #F9F9F9; }

.container {
  max-width: 920px; }

.about {
  margin-top: 3px; }

.headshot {
  border-radius: 50%;
  max-width: 190px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block; }

p {
  font-family: "Varela Round", sans-serif;
  color: #515151;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  font-weight: 200; }

h1 {
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #E42B3C;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.social {
  margin-top: 50px;
  margin-bottom: 20px; }

.social-icons {
  width: 40px; }

ul {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding-left: 0; }
  ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 70px; }

/*)
//Social links underline animation
a#fade {
  border-bottom: 2px solid rgba(228, 43, 60, 0);
  
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease; 
}
a#fade:hover {
  border-bottom: 2px solid;
}
*/
.navClose {
  -webkit-animation: bounceInDown 1.8s ease-out;
  animation: bounceInDown 1.8s ease-out; }

.back {
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px; }

.smallarrow {
  max-width: 60px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center; }

.fade-out {
  color: #E42B3C;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }
  .fade-out:visited {
    color: #E42B3C;
    text-decoration: none; }
  .fade-out:hover, .fade-out:active {
    color: #ADADAD;
    text-decoration: none; }

@media screen and (max-width: 416px) {
  p {
    font-size: 14px;
    line-height: 26px; }

  .socialmedia {
    width: 30px; }

  .social-icons {
    width: 18px; }

  .smallarrow {
    width: 40px;
    margin-left: 5px; }

  li {
    margin-left: 0px;
    margin-right: 0px; } }
@media screen and (max-width: 740px) {
  .contact {
    margin-top: 20px;
    font-size: 15px; }

  .social {
    margin-top: 35px; }

  footer {
    margin-bottom: 30px; }

  p {
    margin-left: -10px; } }
@media screen and (max-width: 768px) {
  .contact {
    font-size: 17px;
    text-align: center; } }
@media screen and (max-width: 991px) {
  .contact {
    font-size: 17px;
    text-align: center; } }

/*# sourceMappingURL=about.css.map */