
h1 {
  font-size: 30px;
  text-align: center;
  color: #28333D;
  padding-left: 0px;
  padding-right: 14px;
  margin-bottom: 5px;
}


/*  - - LINKS / NAVIGATION - - */

ul {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 0px;
}

li {
  display: inline;
}

#menu-link {
  margin-right: 14px;
}


/* unvisited link */
a:link {
  color: #28333D;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #28333D;
    text-decoration: none;
}

/* mouse over link 
a:hover {
  color: #28333D;
  border-bottom: solid 2px #28333D;
  display: inline;
  padding-bottom: 2px;
       -o-transition: .1s ease-in-out;
     -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
          transition: .1s ease-in-out;
}
*/

/* selected link */
a:active {
    color: #28333D;
    text-decoration: none;
}