//Imports
@import "fonts.scss";
@import "vars.scss";

/* Project hover */
.darken:hover, .external-link:hover {
  opacity: 0.5;
}

/*
.darken {
    padding: 0;
    position:relative;
    margin-top: 25px;
    transition: .3s ease-in-out;
    &:hover {
      opacity: 0.5;      
    }
}
*/

.darken:hover {
  opacity: 4;
}

.darken img {
  transition: 0.2s ease-in-out;
}

.darken:hover img {
  opacity: .1;
}

.darken span{
  display:none; 
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 120%;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #FFF;
}

.darken:hover span{
  color: $black;
  display: block; 
  z-index: 300;
}


//Big phone (iPhone 6)
@media screen and (max-width: 712px) {
  .darken span{
    font-size: 45px;
  }
}

//Small phone (iPhone 4s)
@media screen and (max-width: 412px) {
  .darken span{
    font-size: 30px;
  }
}