
@import "fonts.scss";
@import "vars.scss";

/*
.fade-body {
  animation: fade 1s ease-in-out;
}
@keyframes fade {
  0%     { opacity: 0   }
  100%   { opacity: 100 }
}
*/

body {
	background: $white;
}

.content {
	max-width: 920px;
	margin-bottom: 30px;
}

.img-content {
	max-width: 1000px;
}

//Go back arrow - animation
.navClose {
  -webkit-animation:bounceInDown 1.8s ease-out;
  -moz-animation:bounceInDown 1.8s ease-out;
  animation:bounceInDown 1.8s ease-out;
} 

.goback {
  max-width: 60px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
}


.title {
	margin: 60px 0 20px -34px;
	padding-left: 33px;
	h1 {
		font-family: $font-stack;
		font-weight: 700;
		font-size: 45px;
		margin-bottom: 5px;
		text-transform: uppercase;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		font-family: $font-stack;
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 7px;
	}

	p {
		font-family: $font-text;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
	}

	.tagline {
		color: $grey;
		font-style: italic;
		margin-bottom: 28px;
	}

	.role {
		font-style: italic;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

a {
	font-family: $font-text;
	font-weight: 700;
	text-decoration: none;
	transition: .3s;
		&:link {
			color: $purple;
		}
		&:visited {
			color: $purple;
			text-decoration: inherit;
		}
		&:hover, &:active {
			color: $grey;
			text-decoration: inherit;
		}
	}


li {
	list-style: none;
	display: inline-block;
}

.bildtext {
	font-family: $font-text;
	font-size: 14px;
	font-style: italic;
	text-align: center;
}

.row {
	margin-top: 20px;
}

.photo {
	margin-top: 30px;
	margin-left: -15px;
	width: 1200px;
}

.navigation {
	margin-top: 30px;
	text-align: center;
}

.nav {
	padding-left: 0px;
}

.home {
	font-family: $font-stack;
	font-size: 15px;
}

.smallarrow {
  max-width: 20px;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 40px;
  margin-left: 40px;
}

footer {
  background-color: $white;
  height: 60px;
  padding-top: 20px;
}

#footer {
  font-family: $font-text;
  font-size: 12px;
  color: $grey;
  text-align: center;
}

//Back to top
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}


//Big phone (iPhone 6)
@media screen and (max-width: 750px) {
  .title {
  	margin-top: 20px;
  	h1{
  		font-size: 26px;
  	}
  	p {
  		font-size: 12px;
  		line-height: 23px;
  		margin: 0 15px 0 15px;
  	}
  }

	.goback {
	  max-width: 35px;
	  display: block;
	  margin: 0 auto;
	  margin-top: 27px;
	}

  iframe {
  	width: 450px;
  	height: 200px;
  }
}

//Small phone (iPhone 4s)
@media screen and (max-width: 640px) {
  .title {
  	margin-top: 50px;
  }
}