//Vars
$pink: #DF00FF;
$purple: #9500FF;
$black: #1D1D1B;
$white: #F9F9F9;
$grey: #ADADAD;
$blue: #38C1F4;
$red: #E42B3C;
$lightblack: #515151;
$turkos: #54EAD8;
$dark-grey: #5B5B5B;
$light-grey: #E2E2E2;

$link: $red;


$font-stack: 'Montserrat', sans-serif;
$font-text: 'Varela Round', sans-serif;

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}