//Vars
$pink: #DF00FF;
$purple: #A000FF;
$black: #1D1D1B;
$white: #F6F6F6;
$grey: #AAAAAA;
$blue: #38C1F4;
$red: #E42B3C;
$lightblack: #303030;

$font-stack: 'Montserrat', sans-serif;
$font-text: 'Varela Round', sans-serif;

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}