//Colors
$white: #F9F9F9;
$black: #1D1D1B;
$lightblack: #515151;
$grey: #ADADAD;
$light-grey: #E2E2E2;
$dark-grey: #5B5B5B;

$pink: #DF00FF;
$yellow: #F4D345;
$purple: #9500FF;
$red: #E42B3C;

$link: $white;

//Fonts
$font-stack: 'Montserrat', sans-serif;
$font-text: 'Varela Round', sans-serif;

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}