//Imports
@import "fonts.scss";
@import "darken.scss";
@import "vars.scss";

body {
  background-color: $white;
}

.fade-body {
  animation: fade 4.5s ease-in-out;
}
@keyframes fade {
  0%     { opacity: 0   }
  100%   { opacity: 100 }
}


//First content
.intro, .project-title, .next, .nav {
  font-family: $font-stack;
  font-weight: 700;
}

.intro {
  position: relative;
  top: 48%;
  transform: translateY(-52%);
}

.first {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container-intro {
  max-width: 920px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  max-width: 430px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: $font-text;
  color: $grey;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.5px;
  font-family: $font-text;
  color: $grey;
}

.cta {
  max-width: 40px;
  margin-top: 130px;
}

/*
//Social links underline animation
a#fade {
  border-bottom: 2px solid rgba(228, 43, 60, 0);
  
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease; 
}

a#fade:hover {
  border-bottom: 2px solid;
}

.nav {
  margin-top: 30px;
}
*/

//Logo
.logo {
  max-width: 300px;
}

/*
.next {
  max-width: 60px;
  margin: 0 auto;
  margin-top: 50px;
}
*/


//Second content
.second {
  background-color: $white;
}

.second-content {
  max-width: 920px;
  margin-top: 100px;
}

.container-second {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 40px;
}

.project-title {
  font-family: $font-stack;
  color: $dark-grey;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

.description {
  color: $grey;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 400;
}


//Third content
.third {
  background-color: $white;
}

.third-content {
  max-width: 190px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.navKnow {
  font-size: 15px;
  margin-top: 10px;
}

.navMail {
  width: 40px;
  margin-bottom: 10px;
  background-color: $white;
}

.social {
  margin-top: 30px;
  margin-bottom: 5px;
}

.social-icons {
  width: 30px;
}

//Links
ul {
  text-align: center;
  font-family: $font-stack;
  margin: 0 auto;
  padding-left: 0;
  li {
  display: inline-block;
  max-height: 70px;
  margin-left: 14px;
  margin-right: 14px;
  }
}


//Link fade
.fade-out {
  color: $link;
  text-decoration: none;
  transition: .3s ease-in-out;
    &:visited {
      color: $link;
      text-decoration: none;
    }
    &:hover, &:active {
      color: $grey;
      text-decoration: none;
    }
}


//Footer
footer {
  background-color: $white;
  height: 60px;
  padding-top: 20px;
}

#footer {
  font-family: $font-stack;
  background-color: $white;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: $grey;
  text-align: center;
}

//Other devices
@media screen and (max-width: 740px) {
  .col-md-4 {
    margin-bottom:30px;
  }

  .intro {
    font-size: 55px;
  }

  .nav {
    max-width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 31px;
    margin-top: 180px;
    margin-bottom: 0px;
  }

  .contact {
    width: 50px;
  }

  .project {
    margin-top: 20px;
  }

  .third-content {
    margin-top: 10px;
  }

  .headshot {
    width: 190px;
  }

  .social-icons {
    width: 30px;
  }

  p {
    font-size: 13px;
    line-height: 26px;
  }

  .navContact {
    margin-top: 14px;
    width: 30px;
  }
}


@media screen and (max-width: 768px) {
  .col-md-4 {
    margin-bottom:30px;
  }
}


@media screen and (max-width: 991px) {
  .col-md-4 {
    margin-bottom:30px;
  }

  .row {
    margin-bottom:0;
  }
}
