//Imports
@import "fonts.scss";
@import "darken.scss";
@import "vars.scss";

body {
  background-color: $white;
}

//First content
.intro, .project-title, .next, .nav {
  font-family: $font-stack;
  font-weight: 700;
}

.intro {
  position: relative;
  top: 52%;
  transform: translateY(-48%);
  font-size: 160px;
  color: $white;
}

.title {
  max-width: 565px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-family: $font-stack;
  color: $white;
  margin: 0 auto;
  margin-top: 35px;
}

.headline1 {
  max-width: 700px;
  margin: 0 auto;
}

.next {
  max-width: 60px;
  margin: 0 auto;
  margin-top: 50px;
}

p {
  font-size: 16px;
  line-height: 28px;
  font-family: $font-text;
}

.first {
  background-color: $purple;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container-intro {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  color: $white;
  font-size: 43px;
  line-height: 58px;
  margin-top: 300px;
}

.next {
  text-align: center;
  width: 60px;
  margin-top: 160px;
}

//Second content

.headshot {
  border-radius: 50%;
  max-width: 240px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  margin-top: 27px;
}

.second {
  background-color: $white;
}

.second-content {
  max-width: 800px;
  margin-top: 100px;
}

.container-second {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navAbout {
  width: 80px;
  margin-top: 60px;
  margin-left: 66px;
  margin-right: 70px;
  top: 1%;
  left: 2%;
}

.navContact {
  width: 40px;
  margin-bottom: 10px;
  background-color: $white;
}

.row {
  margin-bottom: 30px;
}

//Third content
.third {
  background-color: $white;
}

.third-content {
  max-width: 1040px;
  margin-top: 120px;
}

.social {
  margin-top: 50px;
  margin-bottom: 15px;
}

.social-icons {
  width: 50px;
}

//Links
ul {
  text-align: center;
  font-family: $font-stack;
  margin: 0 auto;
  padding-left: 0;
  li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 70px;
  }
}

//Footer
footer {
  background-color: $white;
  height: 60px;
  padding-top: 20px;
}

#footer {
  font-family: $font-stack;
  background-color: $white;
  font-size: 12px;
  color: $grey;
  text-align: center;
}

//Link fade
.fade-out {
  color: $link;
  text-decoration: none;
  transition: .3s ease-in-out;
    &:visited {
      color: $link;
      text-decoration: none;
    }
    &:hover, &:active {
      color: $grey;
      text-decoration: none;
    }
}

//Back to top
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  opacity: .5;
}


//Other devices
@media screen and (max-width: 740px) {
  .col-md-4 {
    margin-bottom:30px;
  }

  .intro {
    font-size: 55px;
  }

  .nav {
    max-width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 31px;
    margin-top: 180px;
    margin-bottom: 0px;
  }

  .contact {
    width: 50px;
  }

  .project {
    margin-top: 20px;
  }

  .third-content {
    margin-top: 10px;
  }

  .headshot {
    width: 190px;
  }

  .social-icons {
    width: 30px;
  }

  p {
    font-size: 13px;
    line-height: 26px;
  }

  .navContact {
    margin-top: 14px;
    width: 30px;
  }
}


@media screen and (max-width: 768px) {
  .col-md-4 {
    margin-bottom:30px;
  }
}


@media screen and (max-width: 991px) {
  .col-md-4 {
    margin-bottom:30px;
  }

  .row {
    margin-bottom:0;
  }
}
