@import "fonts.scss";
@import "vars.scss";

body {
	background: $purple;
	color: #FCFCFC;
}

/* P R O J E C T S */

h1, h2, p {
  font-family: $font-stack;
  font-size: 35px;
  text-align: center;
}

h1 {
	margin-top: 300px;
  font-weight: 700;
}

h2 {
  margin-top: 10px;
  font-weight: 700;
}

p {
  margin-top: 100px;
  font-size: 20px;
}


//Link fade
.fade-out {
  color: $white;
  font-weight: 700;
  text-decoration: underline;
  transition: .3s ease-in-out;
    &:hover, &:active {
      color: #000;
      text-decoration: none;
    }
    &:visited {
      color: $white;
      text-decoration: underline;
    }
}


/* B A C K  T O  T O P  B U T T O N */

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
