@import "project-page.scss";
@import "vars.scss";


//Big phone (iPhone 6)
@media screen and (max-width: 750px) {
	.topsify {
		margin-top: 25px;
	}

	.img-space {
		margin-top: 25px;
	}

	.spotify {
		margin-top: 25px;
	}
}

//Small phone (iPhone 4s)
@media screen and (max-width: 640px) {
	.topsify {
		margin-top: 25px;
	}

	.img-space {
		margin-top: 25px;
	}

	.spotify {
		margin-top: 25px;
	}
}